# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\AN2\SEM II\Tehnici de programare fundamentale\teme\PT2021_30223_Mariciuc_Andrei_Alexandru_0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
